
//- Edito Rentrée2024
mj-section(background-color='#EDF2F7' padding='0px')
    mj-column(width='100%')
        mj-image(padding='0' border='none' fluid-on-mobile='true' width='600px' src='https://i.ibb.co/kJtH67V/news-Bandeau092024.jpg' alt='Les étudiants en alternance s\'intégrent dans l\'entreprise avec portrait de Christian ANNALORO, responsable pédagogique d\'Ecosup Assurance')/
mj-section(background-color='#EDF2F7' padding-top='10px' padding-bottom='40px')
        mj-column(width='88%') 
            mj-text(padding-top='5px' padding-bottom='0' font-size='14px' font-weight='900' line-height='18px' text-transform='uppercase' color='#944694') Édito
            mj-text(padding-top='5px' padding-bottom='5px' font-style='italic' font-size='16px' font-weight='500' line-height='20px' color="#2D3748") Chers partenaires,
            mj-text(padding-top='5px' padding-bottom='5px' font-style='italic' font-size='16px' font-weight='500' line-height='20px' color="#2D3748") Cette rentrée 2024 est une grande réussite pour #[span(style="font-weight:700;") EcoSup Assurance] et #[span(style="font-weight:700;") EcoSup Campus]. De nouvelles promotions prêtent à relever les défis, à vivre l'aventure de l'alternance et à grandir durant les mois à venir.
            mj-text(padding-top='5px' padding-bottom='5px' font-style='italic' font-size='16px' font-weight='700' line-height='20px' color="#2D3748") Ce succès nous vous le devons également car sans vous, rien n'est possible !
            mj-text(padding-top='5px' padding-bottom='5px' font-style='italic' font-size='16px' font-weight='500' line-height='20px' color="#2D3748") C'est aujourd'hui près d'une vingtaine de jeunes pour les formations assurance et banque qui ont trouvé leurs contrats. Nous sommes fiers et heureux de l'accompagnement que nous avons pu leur apporter au sein d'#[span(style="font-weight:700;") EcoSup Assurance]. Au fil des mois nous avons créé avec vous, professionnels du secteur,  des liens solides et des partenariats qui aident nos élèves et enrichissent notre école.
            mj-text(padding-top='5px' padding-bottom='5px' font-style='italic' font-size='16px' font-weight='500' line-height='20px' color="#2D3748") #[span(style="font-weight:700;") Nous avons encore besoin de vous !] Quelques élèves cherchent encore un contrat, une entreprise... une chance de pouvoir se réaliser.
            mj-text(padding-top='5px' padding-bottom='5px' font-style='italic' font-size='16px' font-weight='500' line-height='20px' color="#2D3748") Vous trouverez ci-après le lien pour consulter notre CV Book que vous pourrez consulter et partager. 
            mj-text(padding-top='5px' padding-bottom='0px' font-style='italic' font-size='16px' font-weight='500' line-height='20px' color="#2D3748") Rencontrez nos élèves c'est les recruter !
            mj-text(padding-top='0px' padding-bottom='5px' font-style='italic' font-size='16px' font-weight='500' line-height='20px' color="#2D3748") Bien à vous et à très vite...