mj-section(background-color='#ffffff')
    mj-column(width="30%")
        mj-image(padding='10px 0px' width="480px" fluid-on-mobile="true" border='none' src='https://i.ibb.co/6bXK3Zs/news092024a.jpg' alt='L\'apprentissage c\'est top')/
    mj-column(width='70%')
        mj-text(padding="0px 25px" align='left' font-size='14px' font-weight='900' color='#944694' line-height='18px' text-transform='uppercase') Partenariat entreprise
        mj-text(padding="0px 25px" align='left' font-size='20px' font-weight='700' line-height='24px' color='#684092') EcoSup Campus et Grafton Group - Kelly Services
        mj-text(padding="5px 25px" font-size='16px' line-height='20px' font-weight='400') EcoSup Campus consolide son partenariat avec Grafton Recruitement Group - Kelly Service. L'année 2024 sera définitivement une année riche en partenariat pour notre école. 
        mj-text(padding="5px 25px" font-size='16px' line-height='20px' font-weight='400') Nous sommes particulièrement fier d'officialiser notre partenariat déjà opérationnel, solide et très enrichissant pour nos élèves et nos entreprises. Un moment fort sera dédié le 28 novembre dans notre école... On vous tiens au courant ! 