mj-section(background-color='#EDF2F7')
    mj-column(width="30%")
        mj-image(padding='10px 0px' fluid-on-mobile="true" width="480px" border='none' src='https://i.ibb.co/x26ch28/112024-A3-Assurance.png' alt='L\'apprentissage c\'est top')/
    mj-column(width='70%')
        mj-text(padding="0px 25px" align='left' font-size='14px' font-weight='900' color='#944694' line-height='18px' text-transform='uppercase') Taxe d'apprentissage
        mj-text(padding="0px 25px" align='left' font-size='20px' font-weight='700' line-height='24px' color='#684092') Merci pour votre aide !
        mj-text(padding="5px 25px" font-size='16px' line-height='20px' font-weight='400') Nous tenons à remercier chaleureusement tous nos partenaires qui ont choisi de flécher leur taxe d'apprentissage vers #[span(style="font-weight:700") EcoSup Campus].
        mj-text(padding="5px 25px" font-size='16px' line-height='20px' font-weight='400') Grâce à votre soutien, notre établissement peut continuer à offrir à nos étudiants un #[span(style="font-weight:700") environnement d'apprentissage] toujours plus riche et performant.
        mj-text(padding="5px 25px" font-size='16px' line-height='20px' font-weight='400') Votre contribution nous permet d'#[span(style="font-weight:700") investir] dans de nouveaux équipements, de développer de nouvelles pédagogies et de renforcer nos liens avec le monde professionnel.
        mj-text(padding="5px 25px" font-size='16px' line-height='20px' font-weight='400') #[span(style="font-weight:700") Votre confiance est notre plus belle récompense].