mjml
    mj-head
        mj-title Lettre Ecosup Assurance - Entreprise Octobre 2024
        mj-attributes
            mj-all(font-family='Arial, Helvetica, sans-serif')/
        mj-raw.
            <meta name="color-scheme" content="light"/>
            <meta name="supported-color-schemes" content="light"/>
            <meta name="format-detection" content="telephone=no"/>
            <meta name="format-detection" content="date=no"/>
            <meta name="format-detection" content="address=no"/>
            <meta name="format-detection" content="email=no"/>
        mj-breakpoint(width='450px')/
    mj-body(background-color='#fcfcfc')
        //- block content
        block content
        //- block esa
        block esa
            include ../includes/_esa
        //- block hero
        block hero
            include ../includes/_hero
        //- block dossier
        block edito
            include ../includes/_edito
        //- block cvbook
        block cvBook
            include ../includes/_cvbook
        //- block form
        block form
            include ../includes/_form
        //- block partenariat SMA
        block partsma
            include ../includes/_partsma
        //- block taxe d'apprentissage
        block taxe
            include ../includes/_taxe
        //- block qualiopi
            block qualiopi
            include ../includes/_qualiopi
        //- block spacer
            block espace
            include ../includes/_spacer
        //- block footer
        block footer
            include ../includes/_footer